/* https://www.figma.com/file/slzHnI05qpbBeC33ZMZGa5/input-component?type=design&node-id=0-1&mode=design&t=boRZ08wW4I0KfkTm-0 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans+JP:wght@500;700&family=Poppins:wght@600&family=Ubuntu+Mono&display=swap');

/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
*/


:root {
  --InputBorder: #828282;
  --InputHoverBorder: #333333;
  --InputFocusBorder: #2962FF;
  --InputErrorBorder: #D32F2F;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  height: auto;
}

#app {
  width: 100%;
  height: auto;
  padding: 5vh 5vw 5vh 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: auto;
  grid-template-areas: 
    "header content"
    "header footer";
}
